@tailwind base;

:root {
  --primary: #a78bfa;
  --secondary: #e879f9;
}

html{
  overflow-y: overlay;
}

/* Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea {
    @apply h-full my-1 rounded-[7px] shadow-sm bg-slate-100 px-3 py-2.5 font-sans text-sm font-normal text-gray-700 outline outline-0 transition-all focus:border-2 focus:border-sky-500 focus:outline-0 disabled:border-0 disabled:bg-gray-50
  }
}

@layer components {
  .btn-primary {
    @apply text-purple-800 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
  }
  .btn-success {
    @apply text-green-800 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
  }
  .btn-danger {
    @apply text-red-800 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
  }
  .active {
    @apply bg-purple-700 text-white rounded-md
  }
  .activeTab {
    @apply border-b-2 border-blue-500
  }
}